/*<- Custom Finnkino fonts */

@font-face {
    font-family: SF Sans;
    src: url(/fonts/SF Sans Regular.otf)
}

@font-face {
    font-family: SF Sans;
    font-weight: bold;
    src: url(/fonts/SF Sans Bold.otf)
}

@font-face {
    font-family: SF Sans;
    font-weight: 900;
    src: url(/fonts/SF Sans Heavy.otf)
}

/*  Custom Finnkino fonts -> */

body {
    padding: 0px !important;
    margin: 0px !important;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #000000;
}

a {
    color: #00B7FF;
}

a:visited {
    color: #F8C403;
}

a:hover {
    color: #ffffff;
}

h1 {
    font-family: "SF Sans", sans-serif;
    font-size: 28px;
    letter-spacing: 0.5px;
    font-weight: 900;
    color: #F8C403;
    padding-bottom: 15px;
}

.navlinks {
    font-family: "SF Sans", sans-serif;
    font-size: 10px;
    font-weight: 900;
    color: #F8C403;
}

p {
    font-family: "SF Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 1.2px;

}

.finnkino-yellow {
    color: #F8C403; !important;
}

.select-dropdown {
    font-family: "SF Sans", sans-serif !important;
    font-size: 14px;
    letter-spacing: 1.2px;
    color: #F8C403;
    padding: 7px 7px 7px 7px;
    margin-bottom: 30px;

}

.select-dropdown-date, .select-dropdown-custom {
    font-family: "SF Sans", sans-serif !important;
    font-size: 14px;
    letter-spacing: 1.2px;
    color: #F8C403;
    padding: 7px 7px 7px 7px;
    margin-bottom: 30px;

}

.terms {
    font-family: "SF Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 1.2px;
    color: #F8C403 !important;
}

li, ul {
    font-family: "SF Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 1.2px;
    color: #F8C403 !important;
}

.link {
    display: inline;
    font-size: 12px;
    font-family: SF Sans, sans-serif;
    letter-spacing: 1.2px;
    color: #F8C403;
    text-decoration: underline;
}

row.fullwidth {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
}

.bg {
    /*background-image: url('/wpcontent/themes/twentyseventeen/assets/images/finnkino-key-left-nainen-01.jpg');*/
    vertical-align: middle;
    border: 0;
    height: auto;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.caps {
    text-transform: uppercase !important;
}

.padding20 {
    padding-bottom: 20px;
    padding-top: 20px;
}

.padding80 {
    padding-bottom: 80px;
    padding-top: 80px;
}

.leftblock {
    text-align: left;
    display: inline-block;
    float: left;
    background-color: #232123;
    min-height: 211px;
}

.rightblock {
    text-align: right;
    display: inline-block;
    float: right;
    background-color: #F8C403;
    min-height: 211px;
}

.btn-finnkino {
    color: #000000;
    background-color: #F8C403;
    border-radius: 50px;
    width: 50%;
    font-family: "SF Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: bold;
    margin-top: 15px;
}

.btn-finnkino-interests {
    color: #000000;
    background-color: #F8C403;
    border-radius: 50px;
    width: 100%;
    font-family: "SF Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: bold;
}

.btn-finnkino-reverse {
    color: #F8C403;
    background-color: #000000;
    border-radius: 50px;
    width: 50%;
    font-family: "SF Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: bold;
}

.finnkino-form {
    color: #F8C403;
    width: 33%;
    background-color: #000000;
    border-radius: 0px;
    border: 1.5px solid #F8C403 !important;
    margin: 20px 20px 20px 20px;
    display: inline;
}

.finnkino-form-custom {
    color: #F8C403;
    background-color: #000000;
    border-radius: 0px;
    border: 1.5px solid #F8C403 !important;
    margin: 0px 0px 0px 0px;
    display: inline;
    vertical-align: middle !important;

}

select option {
    border: 1px solid #F8C403;
    font-family: "SF Sans", sans-serif;
    font-size: 15px;
    letter-spacing: 1.2px;
    font-weight: bold;
}

.finnkino-header {
    position: relative;
    z-index: 1;
    width: 100%;
}

.finnkino-lab {
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 3;
}

.mainh1 {
    font-size: 64px;
    margin-left: 25%;
}

.interests {
    display: inline;
    font-size: 14px;
}

/* do not group these rules*/
.input::-webkit-input-placeholder {
    font-family: "SF Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 1.2px;
    color: #F8C403;
}

.edit-link {
    display: none;
}

.entry-title {
    display: none;
}

.spacetop {
    margin-top: 0px;
}

.margin-both {
    margin-top: 20px;

}

.skip-button {
    padding-top: 20px;
}


.input:-moz-placeholder {
    font-family: "SF Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 1.2px;
    color: #F8C403;
}

.input::-moz-placeholder {
    font-family: "SF Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 1.2px;
    color: #F8C403;
}

.input:-ms-input-placeholder {
    font-family: "SF Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 1.2px;
    color: #F8C403;
}

input.custom-check[type=checkbox],
input.custom-check[type=radio] {
    /*stuff here*/
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #000000;
    font-family: 'Glyphicons Halflings';
    border: 1.5px solid #F8C403 !important;
    font-size: 16px;
    line-height: 1;
    vertical-align: middle !important;
}

@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css');

.custom-check {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #000000;
    font-family: 'Glyphicons Halflings';
    border: 1.5px solid #F8C403 !important;
    font-size: 16px;
    line-height: 1;
    vertical-align: middle !important;
}

.margin-fix {
    margin-top: 5px;
    margin-bottom: 5px;
}

.custom-check::after {
    vertical-align: middle !important;
}

.custom-check::before {
    display: none;
    content: "\e013";
    color: #000000;
    vertical-align: middle;
}

input[type=checkbox]:before {
    display: none;
    content: "\e013";
    color: #000000;
    vertical-align: middle;
}

input[type=checkbox]:checked + .custom-check::before {
    display: block;
    color: #F8C403;
    background-color: #000000;
    font-size: 12px;
    vertical-align: middle;
}

.scale-left {
    max-width: none !important;
    float: none !important;
}

.newlink {
    text-decoration: underline;
    color: #F8C403;
}

.paddingRight {
    padding-right: 15px;
}

.paddingLeft {
    padding-left: 15px;
}

.black {
    color:#000000 !important;
}

/* Media Queries */


@media screen and (max-width: 1696px) {

    #toTop {
        display: none;
        font-size: 1px;
        z-index: 1;
    }

}

@media screen and (min-width: 1697px) {

    #toTop {
        padding: 5px 3px;
        color: #F8C403;
        position: fixed;
        right: 45%;
        bottom: 0;
        margin-left: -5em;
        display: none;
        font-size: 70px !important;
        z-index: 1 !important;

    }

}




@media only screen and (max-width: 629px) {

    .float-nofloat {
        float: none !important;
    }

}

@media only screen and (min-width: 630px) and (max-width: 767px) {

    .float-nofloat {
        float: right !important;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1245px) {

    .float-nofloat {
        float: none !important;
    }

}

@media only screen and (min-width: 1246px) {

    .float-nofloat {
        float: none !important;
    }

}


@media only screen  and (max-width: 991px) {

    .rightblock {
        margin-bottom: 40px;
    }

}

@media only screen  and (min-width: 992px) {

    .rightblock {
        margin-bottom: 0px;
    }

}

@media only screen and (max-width: 991px) {

    .finnkino-form {
        width: 50%;
    }

    .fit-29 {
        width: 15% !important;
        margin-bottom: 20px;
    }

    .fit-21 {
        width: 21% !important;
        margin-bottom: 20px;
    }

}

@media only screen  and (min-width: 992px) and (max-width: 1520px) {

    .finnkino-form {
        width: 33%;
    }

    .btn-finnkino {
        width: 33% !important;
    }

    .select-dropdown {
        margin-right: 60px !important;
    }

    .fit-29 {
        width: 29% !important;
        margin-bottom: 20px;
    }

    .fit-21 {
        width: 30% !important;
        margin-bottom: 20px;
    }

}

@media only screen and (min-width: 1521px) and (max-width: 1750px) {

    .fit-29 {
        width: 28% !important;
        margin-bottom: 20px;
    }

    .fit-21 {
        width: 30% !important;
        margin-bottom: 20px;
    }

}

@media only screen and (min-width: 1751px) and (max-width: 2000px) {

    .fit-29 {
        width: 28% !important;
        margin-bottom: 20px;
    }

    .fit-21 {
        width: 29% !important;
        margin-bottom: 20px;
    }

}

@media only screen and (min-width: 2001px) {

    .fit-29 {
        width: 28% !important;
        margin-bottom: 20px;
    }

    .fit-21 {
        width: 28% !important;
        margin-bottom: 20px;
    }

}

@media only screen  and (max-width: 992px) {

    .margin-both-button {
        left: 8%;
        width: 60% !important;
        margin-top: 20px;
    }

}

@media only screen  and (min-width: 993px) and (max-width: 1569px) {

    .margin-both-button {
        left: 1.5%;
        width: 15% !important;
        margin-top: 20px;
    }

}

@media only screen  and (min-width: 1570px) {

    .margin-both-button {
        left: 1%;
        width: 15% !important;
        margin-top: 20px;
    }

}

@media only screen  and (max-width: 433px) {

    .match-height, .match-height-left {
        width: 30% !important;
    }

}

@media only screen  and (min-width: 434px) {

    .match-height-left {
        width: 175px !important;
        height: 173px !important;
    }

    .match-height {
        width: 121px !important;
        height: 173px !important;
    }

}

@media only screen and (max-width: 976px) {
    .container-fit {
        width: 100% !important;
        margin-left: 0;
    }
}

@media only screen and (min-width: 977px) {
    .container-fit {
        width: 85% !important;
        margin-left: 8.333%;
    }
}

@media only screen and (min-width: 1200px) {
    .container-fit {
        width: 66% !important;
        margin-left: 17%;
    }
}

@media only screen and (max-width: 380px) {
    .skip-button {
        margin-right:20%
    }
}

@media only screen and (min-width: 381px) and (max-width: 601px) {
    .skip-button {
        margin-right:10%
    }
}

@media only screen and (min-width: 602px) and (max-width: 905px) {
    .skip-button {
        margin-right:7%
    }
}

@media only screen and (min-width: 906px) and (max-width: 991px) {
    .skip-button {
        margin-right:5%
    }
}


@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .skip-button {
        margin-right:75%;
        width:18%;
    }
}

@media only screen and (min-width: 1201px) {
    .skip-button {
        margin-right:0%
    }
}

@media only screen and (max-width: 1350px) {
    .height-fix {
        min-height:400px;
    }
}

@media only screen and (min-width: 1351px) and (max-width: 1500px) {
    .height-fix {
        min-height:370px;
    }
}

@media only screen and (min-width: 1501px)  {
    .height-fix {
        min-height:350px;
    }
}


/*
@media only screen  and (max-width: 768px) {

    .match-height, .match-height-left {
        margin-bottom: 40px;
    }

}

@media only screen  and (min-width: 768px) and (max-width: 823px) {

    .match-height {
        margin-bottom: 40px;
    }

}

@media only screen and (min-width: 824px) and (max-width: 905px) {

    .match-height {
        margin-bottom: 21px;
    }

    .match-height-left {
        margin-bottom: 0px;
    }

}

@media only screen and (min-width: 906px) {

    .match-height {
        margin-bottom: 0px;
    }

}

*/

/*
@media only screen  and (max-width: 903px) {

   .match-height {

   }

}

/*
@media only screen  and (min-width: 1575px) {

   .scale {
       max-width:500px;
   }

}


